// Here you can add other styles
.button-control {
  display: flex;
  justify-content: space-between;
}

.form-upload {
  width: 100%;
}

.input-error {
  border: 1px solid rgb(255, 80, 80);
  border-radius: 5px;
}

.text-error {
  font-size: 0.96em;
}

@media screen and (max-width: "768px") {
  .my-card-header {
    flex-direction: column;
    justify-content: unset;
  }

  .button-control {
    width: 100%;
  }

  .my-text-button {
    display: none;
  }
}
